
input[type="text"] {
  background-color: $bg;
  border: 1px solid darken($x-light-teal, 5);
  padding: .8em;
  color: $teal;
  font-size: 1.2em;
  &:focus {
    border-left-color: $medium-teal;
  }
}

.newsletter {
  width: 100%;
  input[type="email"] {
    background-color: white;
    border: 1px solid darken($x-light-teal, 5);
    padding: .8em;
    color: $teal;
    font-size: 1em;
    width: 75%;
    &:focus {
      border-left-color: $medium-teal;
    }
  }
  input[type="submit"] {
    padding: .8em;
    font-size: 1em;
  }
}

.mc4wp-alert {
  padding: .5em;
  margin-top: .5em;
  border-radius: 3px;
}

.mc4wp-success {
  background-color: $teal;
  color: white;
}

.mc4wp-notice, .mc4wp-error {
  background-color: $light-orange;
  color: white;
  border: $light-orange;
}

input[type="submit"] {
  background-color: $teal;
  padding: .8em;
  color: $x-light-teal;
  border: 1px solid $teal;
  font-size: 1.2em;
}

.widget_search #searchform {
  display: flex;
  #searchsubmit {
    width: 69px;
  }
  .field {
    flex: 1;
    margin-right: 5px;
  }
  input[type="text"] {
    background-color: white;
  }
  input[type="submit"] {
    border: none;
  }
}