/* Sticky footer */
@include sticky-footer( $footerheight, '#page','#main','#footer');

body {
  font-family: $main;
  font-size: 16px;
  line-height: 1em;
  background-color: $bg;
  color: $text;
}

#main {
  margin-top: 3em;
}

.sidebar {
  
}

@media screen and (max-width: 980px) {
  .sidebar {
    text-align: center;
  }
}