#menu-primary {
  display: flex;
  position: absolute;
  bottom: 55px;
  left:0;
  width: 100%;
  li {
    color: $dark-teal;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.3em;
    padding: .6em .5em;
    &:hover a {
      color: $d-teal;
    }
    &:nth-child(odd) {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 19px;
        right: -10px;
        background-color: $dark-teal;
        border-radius: 100%;
        width: 20px;
        height: 20px;
      }
    }
    &:nth-child(3) {
      margin-left: auto;
    }
  }
}

